<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminServlet</servlet-name>
  	<display-name>AdminServlet</display-name>
  	<description></description>
  	<servlet-class>com.demo.AdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<display-name>UserServlet</display-name>
  	<description></description>
  	<servlet-class>com.demo.UserServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SignupServlet</servlet-name>
  	<display-name>SignupServlet</display-name>
  	<description></description>
  	<servlet-class>com.demo.SignupServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddEquipment</servlet-name>
  	<display-name>AddEquipment</display-name>
  	<description></description>
  	<servlet-class>com.demo.AddEquipment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Addequipment</servlet-name>
  	<display-name>Addequipment</display-name>
  	<description></description>
  	<servlet-class>com.equipment.AddEquipment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddEquipmentt</servlet-name>
  	<display-name>AddEquipmentt</display-name>
  	<description></description>
  	<servlet-class>com.equipment.AddEquipment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddEquipment1</servlet-name>
  	<display-name>AddEquipment1</display-name>
  	<description></description>
  	<servlet-class>com.equipment.AddEquipment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FetchEquipment</servlet-name>
  	<display-name>FetchEquipment</display-name>
  	<description></description>
  	<servlet-class>com.equipment.FetchEquipment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteEquipment</servlet-name>
  	<display-name>DeleteEquipment</display-name>
  	<description></description>
  	<servlet-class>com.equipment.DeleteEquipment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateEquipment</servlet-name>
  	<display-name>UpdateEquipment</display-name>
  	<description></description>
  	<servlet-class>com.equipment.UpdateEquipment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateAdminSettings</servlet-name>
  	<display-name>UpdateAdminSettings</display-name>
  	<description></description>
  	<servlet-class>com.updatedAdmin.UpdateAdminSettings</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddTrainerServlet</servlet-name>
  	<display-name>AddTrainerServlet</display-name>
  	<description></description>
  	<servlet-class>com.trainers.AddTrainerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FetchTrainerServlet</servlet-name>
  	<display-name>FetchTrainerServlet</display-name>
  	<description></description>
  	<servlet-class>com.trainers.FetchTrainerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteTrainerServlet</servlet-name>
  	<display-name>DeleteTrainerServlet</display-name>
  	<description></description>
  	<servlet-class>com.trainers.DeleteTrainerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateTrainerServlet</servlet-name>
  	<display-name>UpdateTrainerServlet</display-name>
  	<description></description>
  	<servlet-class>com.trainers.UpdateTrainerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserFetchTrainerServlet</servlet-name>
  	<display-name>UserFetchTrainerServlet</display-name>
  	<description></description>
  	<servlet-class>com.userfetch.FetchTrainerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FetchUserTrainer</servlet-name>
  	<display-name>FetchUserTrainer</display-name>
  	<description></description>
  	<servlet-class>com.userfetch.FetchUserTrainer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PurchaseMembership</servlet-name>
  	<display-name>PurchaseMembership</display-name>
  	<description></description>
  	<servlet-class>com.membership.PurchaseMembership</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConfirmPayment</servlet-name>
  	<display-name>ConfirmPayment</display-name>
  	<description></description>
  	<servlet-class>com.membership.ConfirmPayment</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewMembershipsServlet</servlet-name>
  	<display-name>ViewMembershipsServlet</display-name>
  	<description></description>
  	<servlet-class>com.membership.ViewMembershipsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateMembershipServlet</servlet-name>
  	<display-name>UpdateMembershipServlet</display-name>
  	<description></description>
  	<servlet-class>com.membership.UpdateMembershipServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteMembershipServlet</servlet-name>
  	<display-name>DeleteMembershipServlet</display-name>
  	<description></description>
  	<servlet-class>com.membership.DeleteMembershipServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DashboardServlet</servlet-name>
  	<display-name>DashboardServlet</display-name>
  	<description></description>
  	<servlet-class>com.dashboard.DashboardServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RevenueServlet</servlet-name>
  	<display-name>RevenueServlet</display-name>
  	<description></description>
  	<servlet-class>com.revenue.RevenueServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<display-name>UpdateProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.profile.UpdateProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadProfilePic</servlet-name>
  	<display-name>UploadProfilePic</display-name>
  	<description></description>
  	<servlet-class>com.profile.UploadProfilePic</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContactServlet</servlet-name>
  	<display-name>ContactServlet</display-name>
  	<description></description>
  	<servlet-class>com.contact.ContactServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminContactServlet</servlet-name>
  	<display-name>AdminContactServlet</display-name>
  	<description></description>
  	<servlet-class>com.contact.AdminContactServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteContactServlet</servlet-name>
  	<display-name>DeleteContactServlet</display-name>
  	<description></description>
  	<servlet-class>com.contact.DeleteContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminServlet</servlet-name>
  	<url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserServlet</servlet-name>
  	<url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SignupServlet</servlet-name>
  	<url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddEquipment</servlet-name>
  	<url-pattern>/AddEquipment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Addequipment</servlet-name>
  	<url-pattern>/Addequipment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddEquipmentt</servlet-name>
  	<url-pattern>/AddEquipmentt</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddEquipment1</servlet-name>
  	<url-pattern>/AddEquipment1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FetchEquipment</servlet-name>
  	<url-pattern>/FetchEquipment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteEquipment</servlet-name>
  	<url-pattern>/DeleteEquipment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateEquipment</servlet-name>
  	<url-pattern>/UpdateEquipment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateAdminSettings</servlet-name>
  	<url-pattern>/UpdateAdminSettings</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddTrainerServlet</servlet-name>
  	<url-pattern>/AddTrainerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FetchTrainerServlet</servlet-name>
  	<url-pattern>/FetchTrainerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteTrainerServlet</servlet-name>
  	<url-pattern>/DeleteTrainerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateTrainerServlet</servlet-name>
  	<url-pattern>/UpdateTrainerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserFetchTrainerServlet</servlet-name>
  	<url-pattern>/UserFetchTrainerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FetchUserTrainer</servlet-name>
  	<url-pattern>/FetchUserTrainer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PurchaseMembership</servlet-name>
  	<url-pattern>/PurchaseMembership</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ConfirmPayment</servlet-name>
  	<url-pattern>/ConfirmPayment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewMembershipsServlet</servlet-name>
  	<url-pattern>/ViewMembershipsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateMembershipServlet</servlet-name>
  	<url-pattern>/UpdateMembershipServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteMembershipServlet</servlet-name>
  	<url-pattern>/DeleteMembershipServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DashboardServlet</servlet-name>
  	<url-pattern>/DashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RevenueServlet</servlet-name>
  	<url-pattern>/RevenueServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProfileServlet</servlet-name>
  	<url-pattern>/UpdateProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadProfilePic</servlet-name>
  	<url-pattern>/UploadProfilePic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactServlet</servlet-name>
  	<url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminContactServlet</servlet-name>
  	<url-pattern>/AdminContactServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteContactServlet</servlet-name>
  	<url-pattern>/DeleteContactServlet</url-pattern>
  </servlet-mapping>
</web-app>
